
body{
    
    background-color: rgb(241, 236, 236);
     /*google font*/
     font-family: "Archivo Black", sans-serif;
}
h1{
    text-align: center;
    color:navy;
   
    font-weight: 400;
    font-style: normal;
}
table
{
    text-align: center;
    height:500px;
    width: 500px;
    vertical-align:middle;
    background-color:rgb(91, 134, 134);
    margin-left: auto;
    margin-right: auto;
    padding:12px;
}
th{
    font-size:150%;
}
a:hover
{
    border-radius: 2px;
    background-color: rgb(238, 218, 218);
    color:green;
    width: auto;
    height: auto;
}
